@charset "utf-8";

body {
    font-family: Arial, sans-serif;
    background-color: #d39415;
}
header  header nav {
    flex-flow: column nowrap;
}
header h1 {
    flex-basis: 50px;
}
header nav a {
    width: 90vw;
}