b/* Estilos para retrato */

body {
    background-image: url(imagens/cev-portrait.jpg);
    background-attachment: fixed;6
    background-size: cover;
    background-repeat: no-repeat;
    background-position: auto;
  }
  
  h1 {
    font-size: 24px;
    text-align: center;
    color: #00698f;
  }
  
  /* Outros estilos específicos para retrato */